{{ '{% extends "base.html.twig" %}' }}

{{ '{% block title %}' -}}
{{ sub_namespace ? sub_namespace ~ '\\' : '' }}{{ controller }}:{{ action.basename }}
{{- '{% endblock %}' }}

{{ '{% block body %}' }}
<h1>Welcome to the {{ sub_namespace ? sub_namespace ~ '\\' : '' }}{{ controller }}:{{ action.basename }} page</h1>
{{ '{% endblock %}' }}
